html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}


.background__header {
    background-color: #009688;
    height: 20vh;
    /* width: 100%; */
}

.background__content {
    background-color: #d7dbd8;
    height: 80vh;   
}

