html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.background__header {
    background-color: #009688;
    height: 20vh;
}

.background__content {
    background-color: #d7dbd8;
    height: 80vh;   
}
  
  .chatbox__container {
    position: absolute;
    top: 2%;
    bottom: 2%;
    left: 5%;
    right: 5%;
  }

  header {
      margin: 0;
      background: #ededed;
      height: 9vh;
      border-bottom: 1px solid #d8cfcf;
  }

   header .left__nav {
      width: 30%;
      border-right: 2px solid #d8cfcf;
      height: 100%;
  }

  main {
      margin: 0;
      background: #e5ddd5;
      height: 78vh;
  }

  footer {
    margin: 0;
    background: #f0f0f0;
    height: 8vh;
    border-bottom: 1px solid #d8cfcf;
}


.nav__icons{
    display: flex;
    list-style: none;
}

.nav__icons li#dp {
    flex-basis: 70%;
    padding: 10px 0;
}

.nav__icons .other__icons{
    flex-basis: 10%;
    padding: 10px 0;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 45px;
    border-radius: 50%;
  }

  .material-icons {
      color: #919191;
      padding: 20% 0;
  }