html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.background__header {
    background-color: #009688;
    height: 20vh;
}

.background__content {
    background-color: #d7dbd8;
    height: 80vh;   
}
  
  .positioned {
    position: absolute;
    background: #ededed;
    top: 2%;
    bottom: 2%;
    left: 5%;
    right: 5%;
  }
