html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.background__header {
    background-color: #009688;
    height: 20vh;
}

.background__content {
    background-color: #d7dbd8;
    height: 80vh;   
}

p {
    background: aqua;
    border: 3px solid blue;
    padding: 10px;
    margin: 10px;
  }
  
  .positioned {
    position: absolute;
    background: yellow;
    top: 2%;
    bottom: 2%;
    left: 5%;
    right: 5%;
  }
